@import '_variable';

#about {
    padding: 64px 16px;
    text-align: center;
}

#about .socials-list {
    font-size: 24px;
}

#about .socials-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#about .copyright a:hover,
#about .socials-list a:hover {
    color: rgba(0, 0, 0, 0.4);
}

#about .copyright {
    margin-top: 60px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
}

.log-out {
    color: red;
    margin-top: 40px;
}

.card {
    margin-bottom: 10px;
}